* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #4E4E4E;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:1280px) {
    body {
        max-width: 1440px;
    }
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    height: 47px;
    width: 148px;
    object-fit: contain;
}

.hamburger {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.hero-section {
    background-color: #FEEAE9;
    border-radius: 20px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #1F1F1F;
}

.price {
    font-size: 40px;
    font-weight: 600;
    color: #FF136F;
}

.buy-now-btn {
    background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
    color: #FFFFFF;
    border: none;
    padding: 14px 35px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    width: fit-content;
    margin-top: 10px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
}

@media (max-width:1200px) {
    .hero-content h1 {
        font-size: 38px;
    }
}

@media (max-width:992px) {

    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-content {
        align-items: center;
    }

    .hero-content p {
        margin-bottom: 20px;
    }

    .hero-image {
        justify-content: center;
        margin-bottom: 40px;
    }

}

.categories-section {
    margin-top: 60px;
    margin-bottom: 100px;
}

.section-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #1F1F1F;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.cat-card {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.cat-card h3 {
    font-size: 36px;
    font-weight: 500;
}

.cat-card img {
    height: 95px;
    object-fit: contain;
}

.watch-grad {
    background: linear-gradient(135deg, #FF9C35 0%, #FFB76B 100%);
}

.bag-grad {
    background: linear-gradient(135deg, #FF136F 0%, #FF589B 100%);
}

.shoes-grad {
    background: linear-gradient(135deg, #3F07F8 0%, #7E57FF 100%);
}

@media (max-width:992px) {
    .cat-card {
        flex: 1 1 45%;
    }
}

@media (max-width:640px) {

    .cat-card {
        flex: 1 1 100%;
    }

    .section-title {
        text-align: center;
    }

}

.product-section {
    margin-bottom: 100px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.product-card {
    flex: 1 1 300px;
    background: #FFFFFF;
    padding: 24px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.product-card img {
    width: 100%;
    max-width: 220px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.product-price {
    font-size: 26px;
    font-weight: 600;
}

.buy-black {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: #FFFFFF;
    border: none;
    padding: 16px 28px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: auto;
}

@media (max-width:992px) {
    .product-card {
        flex: 1 1 45%;
    }
}

@media (max-width:640px) {

    .product-card {
        flex: 1 1 100%;
    }

    .section-title {
        text-align: center;
    }

}

.newsletter-section {
    background-color: #FFF2F1;
    border-radius: 20px;
    padding: 120px 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.newsletter-content h2 {
    font-size: 30px;
    font-weight: 600;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 20px auto 0 auto;
}

.subscribe-form input {
    width: 350px;
    padding: 15px 25px;
    border: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 16px;
}

.send-btn {
    background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
    color: #FFFFFF;
    border: none;
    padding: 0 35px;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width:992px) {
    .subscribe-form input {
        width: 250px;
    }
}

@media (max-width:640px) {

    .subscribe-form {
        flex-direction: column;
        gap: 15px;
        padding: 0 20px;
    }

    .subscribe-form input,
    .send-btn {
        width: 100%;
        border-radius: 8px;
        padding: 15px;
    }

}